<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itinera</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script defer src="/javascripts/main.js"></script>


</head>
<body class="d-flex flex-column min-vh-100">
  <!-- style="color: rgb(81, 180, 192)" -->
<header
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #ffffff;">
    <div class="container-md">
      <a class="navbar-brand" href="/">
        <img src="/images/logoWNoText.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        itinera
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/trips/new">New trip</a>
                </li>
              </ul>
            <% if (!user) { %>
              <ul class="navbar-nav text-right">
                <li><a class="login nav-link" href="/auth/google">Log in</a></li>
                <li><a class="login nav-link" href="/auth/google">Sign up</a></li>
              </ul>
            <% } else { %>
              <ul class="navbar-nav text-right">
                <li><a class="nav-link" href="/trips">My trips</a></li>
                <li><a class="nav-link" href="/logout">Log out</a></li>
                <!-- <img src="/images/logoWNoText.svg" alt="Avatar" width="30" height="24" class="d-inline-block align-text-top"> -->

              
              </ul>

            <% } %>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Log In </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Log In</a></li>
                        <li><a class="dropdown-item" href="#">Sign Up</a></li>
                    </ul>
                </li> -->
            
        </div>
    </div>
</nav>
</header>
<main class="mb-auto">