<%- include('./partials/header') %>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center text-left">
      <div class="mx-auto my-5" style="max-width: 80%;">
        <h1 class="display-4 font-weight-normal">Build your perfect travel itinerary in minutes.</h1>
        <p class="lead font-weight-normal">Tell us when and where you'd like to go, pick the activities, foods, attractions you'd like to
          see and we'll generate a daily itinerary to your budget.</p>
        <a class="btn btn-outline-secondary" href="/trips/new">Start planning</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 w-100" style="background-image: url('/images/fuji.jpg'); background-size: cover;"></div>
    </div>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 p-3">
    <h2 class="display-6">Beautiful AI powered itineraries</h2>
    <p class="lead">You focus on the fun stuff and let the AI create your perfect itinerary based on where you want to go and what you want to see (or eat).</p>
  </div>
  <div class="box-shadow mx-auto" style="background-color:rgb(81, 180, 192); width: 900px; height: 300px;"></div>
</div>




<div class="d-md-flex flex-md-equal w-100 my-md-4 pl-md-4">
  <div class="bg-light mr-md-4 pt-4 px-4 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-4 p-4">
      <h2 class="display-6">Collaborate with friends</h2>
      <p class="lead">Invite and work together with others to curate your locations and activities.</p>
    </div>
  </div>
  <div class="bg-light mr-md-4 pt-4 px-4 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-4 p-4">
      <h2 class="display-6">Get a full day-to-day plan</h2>
      <p class="lead">Get an AI generated itinerary, with a daily breakdown or activities, travel and costs.</p>
    </div>
  </div>
 <div class="bg-light mr-md-4 pt-4 px-4 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-4 p-4">
      <h2 class="display-6">Find a plan to fit your budget </h2>
      <p class="lead">Adust your budget and let the generator tweak your travel plans to fit your price.</p>
    </div>
  </div>
</div>



<br>
<%- include('./partials/footer') %>