* {
  font-family: 'Rubik', sans-serif;
}

body {
  padding: 50px;
  font: 14px 'Open Sans', sans-serif;
}

a {
  color:rgb(81, 180, 192)
}

/* .btn-secondary, .btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
} */

.btn {
  background-color: rgb(81, 180, 192) !important;
  color: white !important;
  border: transparent !important;
}

.btn:hover {
  background-color: rgb(225, 144, 55) !important;
  color: white !important;
  border: transparent !important;
}

.avatar img {
  vertical-align: middle!important;
  width: 50px!important;
  height: 50px!important;
  border-radius: 50%!important;
}

.nav-link.dropdown-toggle::after {
  display: none;
}